@import "../includes/mixins.less";

section.hero {
  position: relative;
  overflow: hidden;

  @media (min-width: 992px) {
    max-height: 45vw;
  }

  .hero-image {
    img {
      width: 100%;
      height: auto;

      @media (max-width: 992px) {
        width: auto;
        height: 100%;
      }
    }
  }
  .hero-text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;

    text-shadow: 2px 2px 4px black;

    .container {
      text-align: right;
      * { text-align: right; }

      @media (max-width: 992px) {
        text-align: center;
        * { text-align: center; }
      }
    }
  }
}

section.main-content {
  padding: 0 20px;

  .left-col {}

  .right-col {
    padding: 1.5em 1em;
  }
}
