*.sw[po]
*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
*/settings/local.py
public/static/
public/media/
secrets.sls*
*.log
frontend/node_modules
frontend/bundle.js
frontend/bundle_min.js
frontend/styles/site.css
frontend/styles/site-ltr.css
frontend/styles/site-rtl.css
node_modules
bundle_min.js
feedback-help.hbs
