.aldryn-newsblog article.aldryn-newsblog-article {
  p.visual {
    margin-top: 0;
    a {
      &:hover {
        text-decoration: none;
        border: none;
      }
    }
    img {
      width: 100%;
    }
  }
  p.category {
    font-size: 80%;
    margin-top: initial;

    a {}
  }
  h2 {
    a {}
  }
  .lead {
    font-size: 115%;
    font-weight: 300;
  }
  p.tags {
    a {}
  }
  .content {}
}

.aldryn-newsblog article.aldryn-newsblog-article.aldryn-newsblog-featured {
  p.visual {
    a {}
    img {}
  }
  p.category {
    a {}
  }
  h2 {
    a {}
  }
  .lead {}
  p.tags {
    a {}
  }
  .content {}
}
