#language-picker {
  text-transform: uppercase;
  box-shadow: 0 0 28px 0 rgba(255,255,255,0.22),0 25px 55px 0 rgba(255,255,255,0.21);
  text-align: center;
  .modal-footer {
    a {
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
