{% extends "cms/base.html" %}
{% load cms_tags sekizai_tags staticfiles %}

{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/content-types/pages-index.less' %}">
    {% endaddtoblock %}
    <ul id="pages">
        {% for page in pages %}
            <li class="page">
                <div class="link">
                    <a href="{{ page.absolute_url }}">{{ page.short_title }}</a>
                    <div class="arrow">→</div>
                </div>
                <p class="description">
                    {{ page.description }}
                </p>
            </li>
        {% endfor %}

        <li class="page">
            <div class="link">
                <a href="#">Birth Certificates</a>
                <div class="arrow">→</div>
            </div>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
        </li>

        <li class="page">
            <div class="link">
                <a href="#">Birth Certificates</a>
                <div class="arrow">→</div>
            </div>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
        </li>

        <li class="page">
            <div class="link">
                <a href="#">Birth Certificates</a>
                <div class="arrow">→</div>
            </div>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
        </li>

        <li class="page">
            <div class="link">
                <a href="#">Birth Certificates</a>
                <div class="arrow">→</div>
            </div>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
        </li>

        <li class="page">
            <div class="link">
                <a href="#">Birth Certificates</a>
                <div class="arrow">→</div>
            </div>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
        </li>
        <!-- Some mock list items. -->
    </ul>

    <div class="pagination">
        <div class="prev">Previous Page</div>
        <div class="next">Next Page</div>
    </div>
{% endblock content %}
