{% load cms_tags staticfiles sekizai_tags menu_tags i18n %}

<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    {% render_block "extra-meta" %}

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"> -->
    {% if request.LANGUAGE_CODE == 'ar' %}
      <link href="{% static 'css/materialize.min-rtl.css' %}" rel="stylesheet">
    {% else %}
      <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
    {% endif %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% if request.LANGUAGE_CODE == 'ar' %}
      <link href="{% static 'css/site-rtl.css' %}" rel="stylesheet">
    {% else %}
      <link href="{% static 'css/site.css' %}" rel="stylesheet">
    {% endif %}
    {% render_block "css" %}

    <title>{% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>

  </head>
  <body class="{% block body-class %}grey lighten-5{% endblock body-class %}">
    {% cms_toolbar %}

    <header id="cms-header" class="{% block header-class %}{% endblock header-class %}">
      {% block header %}
        {% block nav %}
          {% block menu %}
            {% show_menu 0 3 3 3 "cms/includes/menu.html" %}
          {% endblock menu %}
        {% endblock nav %}
        <nav id="mobile-nav" class="hide-on-large-only {% block nav-class %}nav-wrapper amber lighten-2{% endblock nav-class %}">
          <div class="nav-wrapper">
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>

            <a href="{% url 'pages-root' %}" class="{% block brand-class %}brand-logo{% endblock brand-class %}">
              <img src="{% static 'images/logo-large.png' %}">
            </a>

            {% with mobile=True %}
              {% show_menu 0 3 3 3 "cms/includes/menu.html" %}
            {% endwith %}
          </div>
        </nav>
      {% endblock header %}
    </header>

    <main id="cms-main" class="main {% block main-class %}container{% endblock main-class %}">
      {% block hero %}{% endblock hero %}

      {% block wrap-content %}
        {% block content %}
        {% endblock content %}
      {% endblock wrap-content %}
    </main>

    <footer id="cms-footer" class="{% block footer-class %}page-footer grey darken-3{% endblock footer-class %}">
      {% block footer %}
        <div class="container white-text">
          {% static_placeholder "footer_content" %}
        </div>
        <div class="footer-copyright grey-text">
          <div class="container">
            <div class="hide-on-small-only">
              <span class="left">International Rescue Committee Information Portal</span>
              <span id="more-links" class="right">
                <a href="#!">Privacy</a> ·
                <a href="#!">Github</a> ·
                Created by the International Rescue Committee
              </span>
            </div>
            <div class="hide-on-med-and-up">
              <span class="left">IRC Info Portal</span>
              <span class="right">Created by the IRC</span>
            </div>
          </div>
        </div>
      {% endblock footer %}
    </footer>

    {% block modals %}{% endblock modals %}

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="{% static 'js/dist/bundle.js' %}"></script>
    {% render_block "js" %}

    {% language_chooser "cms/includes/language-chooser.html" %}
  </body>
</html>
