{% load cms_tags staticfiles sekizai_tags menu_tags i18n %}

<!doctype html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        {% render_block "extra-meta" %}

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{% if request.LANGUAGE_CODE == 'ar' %}{% static 'styles/site-rtl.css' %}{% else %}{% static 'styles/site-ltr.css' %}{% endif %}" type="text/css" class="load-style"/>
        <link rel="stylesheet" href="{% if request.LANGUAGE_CODE == 'ar' %}{% static 'css/site-rtl.css' %}{% else %}{% static 'css/site-ltr.css' %}{% endif %}" type="text/css">
        {% render_block "css" %}

        <link rel="shortcut icon" href="{% static 'images/sm-favicon.png' %}">

        <title>{% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>
    </head>
    <body dir="{% if request.LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
        {% cms_toolbar %}

        <div id="cms">
            <header id="cms-header">
                {% block header %}
                <div class="brand">
                    <a href="#"><div id="logo"></div></a>
                </div>
                <div id=menu-container class="menu-closed">
                    <button id=menu-toggle class="btn menu">{% trans "MENU" %}</button>
                    <ul id="menu" class="menu">
                        {% show_menu 0 0 0 100 "cms/includes/menu.html" %}
                    </ul>
                </div>
                {% endblock header %}
            </header>

            <div id="page-container">
                <div id="page">
                    <div id="content" class="{% block content-class %}{% endblock content-class %}">
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>

            <div id="footer">
                {% block footer %}
                <div class="row">
                    {% static_placeholder "footer" %}
                </div>
                {% endblock footer %}
            </div>
            <div id="language-toggle" class="language-toggle modal-bg hidden"></div>
            <div id="report-tooltip"></div>
        </div>

        <script src="{% static 'js/dist/bundle.js' %}"></script>
        {% render_block "js" %}
    </body>
</html>
