
{% extends "cms/base.html" %}
{% load i18n %}
{% load cms_tags %}
{% load get_range %}

{% block wrap-content %}
    <section class="section">
        {% block content %}
           <h5>{% trans "Page Ratings" %}</h5>

            <table>
                <tr>
                    <th>{% trans "Page" %}</th>
                    <th>{% trans "Number of Ratings" %}</th>
                    <th>{% trans "Average Rating" %}</th>
                </tr>
                {% for rating in ratings %}
                    <tr>
                        <td>
                           <a href="{% page_url rating.page_obj %}">{{ rating.page_obj }}</a>
                        </td>
                        <td>
                            {{ rating.num_ratings }}
                        </td>
                        <td>
                            {% for i in rating.average_rating|get_range %}
                                 <i class="material-icons">star_rate</i>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor%}
            </table>

            <div class="pagination">
                <span class="step-links">
                    {% if ratings.has_previous %}
                        <a href="?page={{ ratings.previous_page_number }}">{% trans "previous" %}</a>
                    {% endif %}

                    <span class="current">
                        {% trans "Page" %} {{ ratings.number }} {% trans "of" %} {{ ratings.paginator.num_pages }}
                    </span>

                    {% if ratings.has_next %}
                        <a href="?page={{ ratings.next_page_number }}">{% trans "next" %}</a>
                    {% endif %}
                </span>
            </div>
        {% endblock content %}
    </section>
{% endblock wrap-content %}
