@import "../../includes/mixins.less";

.side-nav {
  .logo {
    padding: 2rem;
    @media (max-width: 992px) {
      height: 128px;
      padding: 1rem;
    }
    .brand-logo {
      .flex-layout();
      height: auto;
    }
  }
}

// #cms-nav .brand-logo {
//   .flex(0, 0, auto);
//
//   @media (min-width: 992px) {
//     left: 0;
//   }
//
//   img {
//     height: 84px;
//     margin-top: 8px;
//   }
// }
