#language-picker {
  text-align: center;

  .modal-footer {
    .btn {
      float: none;
    }

    @media (max-width: 992px) {
      height: auto;
      margin-bottom: 12px;

      .btn {
        width: 85%;
      }
    }
  }
}
