@import "../../includes/mixins.less";

@side-nav-height: 48px;
@active-item-color: #ee6e73;
@active-item-hover: #e57373;

.side-nav, .side-nav.fixed {
  li {
    &:not(.logo) {
      .flex-layout();
      .flex-direction(column);
    }
    a {
      min-height: @side-nav-height;
      height: auto;
      line-height: 1;
      .flex-layout();
      .flex-direction(row);
      .align-items(center);
    }

    &.active {
      background-color: #ffca28;
    }

    &:hover {
      background-color: #ffca28;
    }

    &.logo:hover {
      background-color: transparent;
    }
  }

  .collapsible-body {
    background-color: #ffe082;

    li.active {
      background-color: #ffca28;
      a {
        color: black;
      }
    }

    .collapsible-body {
      background-color: #ffecb3;
    }
  }
}
