@import "../includes/mixins.less";
@import "../includes/variables.less";

@highlight-color: @amber-lighten-2;

* {
  text-align: left;
  box-sizing: border-box;
}

body {
  .flex-layout();
  min-height: 100vh;
  .flex-direction(column);
}

main {
  overflow: hidden;
  .flex(1, 0, auto);
}

main, footer {
  @media (min-width: 992px) {
    padding-left: 240px;
  }
}

.multicolumn0,
.multicolumn1,
.multicolumn2,
.multicolumn3,
.multicolumn4,
.multicolumn5,
.multicolumn6,
.multicolumn7,
.multicolumn8,
.multicolumn9,
.multicolumn10 {
  .column {
    float: left !important;
    min-width: 200px;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
}

.row {
  .flex-layout();
  .flex-direction(row);
  .flex-wrap(wrap);
}

img {
  max-width: 100%;
}

.input-field .prefix {
  left: 0.5rem;
}

/*rtl:ignore*/
*[dir="RTL"] {
  text-align: right;
}

/*rtl:ignore*/
*[dir="LTR"] {
  text-align: left;
}

table {
  @media (max-width: 991px) {
    width: 100% !important;
  }
}

.highlighted {
  background-color: @highlight-color;
}

.centered-iframe {
  margin: 0 auto;
  max-width: 820px;
}

/* The CSS below can be tossed. There to make the table less bulky but not really curated. */
.table-condensed {
  margin:0px;padding:0px;
  width:100%;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #333333;

  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;

  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;

  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;

  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.table-condensed table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.table-condensed tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.table-condensed table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.table-condensed table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.table-condensed tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}.table-condensed tr:hover td{

}
.table-condensed tr:nth-child(odd){ background-color:#e5e5e5; }
.table-condensed tr:nth-child(even)    { background-color:#ffffff; }.table-condensed td{
  vertical-align:middle;


  border:1px solid #333333;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:5px;
  font-size:10px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}.table-condensed tr:last-child td{
  border-width:0px 1px 0px 0px;
}.table-condensed tr td:last-child{
  border-width:0px 0px 1px 0px;
}.table-condensed tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.table-condensed tr:first-child td{
    background:-o-linear-gradient(bottom, @amber-lighten-2 5%, @amber-lighten-2 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, @amber-lighten-2), color-stop(1, @amber-lighten-2) );
  background:-moz-linear-gradient( center top, @amber-lighten-2 5%, @amber-lighten-2 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="@amber-lighten-2", endColorstr="@amber-lighten-2");  background: -o-linear-gradient(top,@amber-lighten-2,eda407);

  background-color:@amber-lighten-2;
  border:0px solid #333333;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:12px;
  font-family:Arial;
  font-weight:bold;
  color:#000000;
}
.table-condensed tr:first-child:hover td{
  background:-o-linear-gradient(bottom, @amber-lighten-2 5%, @amber-lighten-2 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, @amber-lighten-2), color-stop(1, @amber-lighten-2) );
  background:-moz-linear-gradient( center top, @amber-lighten-2 5%, @amber-lighten-2 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="@amber-lighten-2", endColorstr="@amber-lighten-2");  background: -o-linear-gradient(top,@amber-lighten-2,eda407);

  background-color:@amber-lighten-2;
}
.table-condensed tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.table-condensed tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}

