@import "../includes/mixins.less";

* {
  text-align: left;
  box-sizing: border-box;
}

body {
  .flex-layout();
  min-height: 100vh;
  .flex-direction(column);
}

main {
  overflow: hidden;
  .flex(1, 0, auto);
}

main, footer {
  @media (min-width: 992px) {
    padding-left: 240px;
  }
}

.multicolumn0,
.multicolumn1,
.multicolumn2,
.multicolumn3,
.multicolumn4,
.multicolumn5,
.multicolumn6,
.multicolumn7,
.multicolumn8,
.multicolumn9,
.multicolumn10 {
  .column {
    float: left !important;
  }
}

.row {
  .flex-layout();
  .flex-direction(row);
  .flex-wrap(wrap);
}

img {
  max-width: 100%;
}

.input-field .prefix {
  left: 0.5rem;
}

*[dir="RTL"] {
  text-align: right/* rtl:right */;
}

*[dir="LTR"] {
  text-align: left/* rtl:left */;
}
