@import "../includes/flex.less";

body {
  padding: 1rem;
  .flex-layout();
  min-height: 100vh;
  flex-direction: column;
}

main {
  .flex(1, 0, auto);
}

header, #nav, footer, main {
  * {
    color: white;
    max-width: 100%;
    box-sizing: border-box;
  }

  a {
    font-weight: 800;
    color: white;
    border-bottom: 2px solid white;
    text-transform: uppercase;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
  }

  .container {
    max-width: 650px;
  }
}

#nav, #cms-main {
  margin: 0 auto 0 0;
}
