.flex-layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-layout > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
body {
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
header *,
#nav *,
footer *,
main *,
#language-picker * {
  color: white;
  max-width: 100%;
  box-sizing: border-box;
}
header a,
#nav a,
footer a,
main a,
#language-picker a {
  font-weight: 800;
  color: white;
  border-bottom: 2px solid white;
  text-transform: uppercase;
}
header h1,
#nav h1,
footer h1,
main h1,
#language-picker h1,
header h2,
#nav h2,
footer h2,
main h2,
#language-picker h2,
header h3,
#nav h3,
footer h3,
main h3,
#language-picker h3,
header h4,
#nav h4,
footer h4,
main h4,
#language-picker h4,
header h5,
#nav h5,
footer h5,
main h5,
#language-picker h5,
header h6,
#nav h6,
footer h6,
main h6,
#language-picker h6 {
  font-weight: 800;
}
header .container,
#nav .container,
footer .container,
main .container,
#language-picker .container,
header.container,
#nav.container,
footer.container,
main.container,
#language-picker.container {
  max-width: 650px;
}
@media (max-width: 639px) {
  header .container,
  #nav .container,
  footer .container,
  main .container,
  #language-picker .container,
  header.container,
  #nav.container,
  footer.container,
  main.container,
  #language-picker.container {
    width: 100%;
  }
}
#nav.container,
#search-form {
  max-width: 540px;
}
#nav,
#cms-main {
  margin: 0 0 0 auto;
}
@media (max-width: 639px) {
  #nav,
  #cms-main {
    margin: 0 auto;
  }
}
.multicolumn0 .column,
.multicolumn1 .column,
.multicolumn2 .column,
.multicolumn3 .column,
.multicolumn4 .column,
.multicolumn5 .column,
.multicolumn6 .column,
.multicolumn7 .column,
.multicolumn8 .column,
.multicolumn9 .column,
.multicolumn10 .column {
  float: right !important;
  min-width: 200px;
  padding-left: 0.5rem;
  box-sizing: border-box;
}
#cms-footer .container {
  margin: 0 0 0 auto;
}
#cms-footer .footer_placeholder {
  width: 100%;
}
#nav {
  text-transform: uppercase;
  max-width: 540px;
}
#nav i {
  margin-top: -2px;
}
#nav a {
  border-bottom: none;
}
#nav .child-activate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 42px;
  width: 42px;
  cursor: pointer;
}
#nav .child-activate > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
#nav .collection-item {
  position: relative;
  text-align: right;
}
#nav .collection-item.child-item {
  display: none;
  padding: 0 10px 0 0;
  background-color: black;
  background: repeating-linear-gradient(-135deg, transparent, transparent 3px, #ffffff 3px, #ffffff 4px);
}
#nav .collection-item.child-item.open {
  display: block;
}
#nav .collection-item.child-item > .collection {
  border-left: none;
  margin: 0;
  border-top: none;
  border-bottom: none;
}
#cms-main ul {
  padding-right: 40px;
}
#cms-main ul li {
  list-style-type: initial;
}
.card {
  background-color: black;
  border: 1px solid white;
  margin: 0;
}
.card .card-action {
  border-top: 1px dashed white;
}
.card .card-action:first-child {
  border-top: none;
}
.card .card-action a {
  color: white;
}
.card .card-action a:hover {
  color: white;
}
#cms-main .pagination {
  padding-right: 0;
}
#cms-main .pagination li:first-child {
  padding-right: 0;
}
#cms-main .pagination li:last-child {
  padding-left: 0;
}
#cms-main .pagination li.active {
  background-color: white;
  color: black;
}
#cms-main .aldryn-newsblog-pager {
  background-color: black !important;
}
#cms-main .aldryn-newsblog-pager ul {
  padding-right: 0;
}
#cms-main .aldryn-newsblog-pager ul li {
  list-style-type: none;
  margin-left: 2rem;
}
#cms-main .aldryn-newsblog-pager ul li a {
  display: inline;
  padding: 0;
}
#cms-main .aldryn-faq ul {
  padding-right: 0;
  list-style-type: none;
}
#cms-main .aldryn-faq ul li {
  list-style-type: none;
}
#cms-main .aldryn-faq ul li .collapsible-header {
  background-color: black;
}
#cms-main .chip {
  background-color: white !important;
}
#cms-main .chip a {
  color: black !important;
}
#cms-main .chip a i {
  color: black !important;
}
.modal {
  text-transform: uppercase;
  box-shadow: 0 0 28px 0 rgba(255, 255, 255, 0.22), 0 25px 55px 0 rgba(255, 255, 255, 0.21);
}
#language-picker {
  text-align: center;
}
#language-picker .modal-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#language-picker .modal-footer > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
#language-picker .modal-footer a {
  margin-left: 2rem;
}
#language-picker .modal-footer a:last-child {
  margin-left: 0;
}
#search-nav {
  margin-bottom: 1rem;
}
#search-form {
  margin: 0 0 0 auto;
}
#search-form .input-field input {
  border: 1px dashed white!important;
}
.highlighted {
  background-color: white;
  color: black;
}
.aldryn-search-results {
  margin-right: -15px;
}
.aldryn-newsblog-list,
.aldryn-newsblog-articles {
  margin: 0 -15px;
  max-width: 115%;
}
@media (max-width: 639px) {
  .aldryn-newsblog-list,
  .aldryn-newsblog-articles {
    margin: 0;
  }
  .aldryn-newsblog-list .card-pad,
  .aldryn-newsblog-articles .card-pad {
    padding: 1em 0 !important;
  }
}
#page-rating .captcha > .g-recaptcha > div > div {
  margin: 0 auto;
}
#page-rating .stars-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#page-rating .stars-row > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
#page-rating .stars-row .caption {
  text-transform: uppercase;
}
#page-rating .stars-row .stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: -5px;
}
#page-rating .stars-row .stars > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
#page-rating .spacer {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
#page-rating [type="radio"] + label:before,
#page-rating [type="radio"] + label:after {
  content: "☆";
  color: white;
  border: none;
  font-size: 24px;
}
#page-rating [type="radio"]:checked ~ label:after,
#page-rating [type="radio"]:checked + label:after {
  background-color: transparent;
  content: "★";
  z-index: 0;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}
.aldryn-newsblog-article .tags a {
  color: white;
}
.aldryn-newsblog-articles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.aldryn-newsblog-articles > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.blog-card.card-pad {
  padding: 1em;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 45%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.InternetExplorer .blog-card.card-pad {
  flex-basis: 45%;
}
@media (max-width: 991px) {
  .blog-card.card-pad {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 50%;
  }
  .InternetExplorer .blog-card.card-pad {
    flex-basis: 45%;
  }
}
@media (max-width: 720px) {
  .blog-card.card-pad {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 90%;
    flex-basis: 100%;
  }
  .InternetExplorer .blog-card.card-pad {
    flex-basis: 90%;
  }
}
.blog-card.card-pad > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.blog-card.card-pad > * {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.blog-card.card-pad .card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.blog-card.card-pad .card > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.blog-card.card-pad .card .img-propfix {
  height: 0;
  width: 100%;
  padding-bottom: 75%;
  position: relative;
}
.blog-card.card-pad .card .img-propfix .img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.blog-card.card-pad .card > .card-image .card-title {
  text-shadow: -2px 2px 4px black;
}
.blog-card.card-pad .card > .card-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.card-title.truncate {
  display: inline-block;
  white-space: wrap;
  max-width: 100%;
}
.card-title.truncate > * {
  white-space: normal;
}
.secondary-column {
  /*
    Cards in the sidebar need special sizing.
  */
}
.secondary-column .card-pad {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 90%;
  flex-basis: 100%;
  padding-bottom: 0;
}
.InternetExplorer .secondary-column .card-pad {
  flex-basis: 90%;
}
.secondary-column .card-pad:first-child {
  padding-top: 0;
}
ul.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
ul.pagination > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.aldryn-newsblog-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.aldryn-newsblog-list > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.aldryn-newsblog-list .blog-card {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 45%;
  flex-basis: 50%;
}
.InternetExplorer .aldryn-newsblog-list .blog-card {
  flex-basis: 45%;
}
@media (max-width: 720px) {
  .aldryn-newsblog-list .blog-card {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 90%;
    flex-basis: 100%;
  }
  .InternetExplorer .aldryn-newsblog-list .blog-card {
    flex-basis: 90%;
  }
}
.aldryn-newsblog.main-column {
  padding: 2rem;
}
.aldryn-newsblog-detail img {
  width: 100%;
}
.aldryn-newsblog-detail .lead {
  font-size: 125%;
  font-style: italic;
}
#disqus_thread {
  margin-bottom: 2rem;
}
.aldryn-faq-list .collapsible-body {
  padding: 2rem;
}
.aldryn-faq-list .collapsible-body > *,
.aldryn-faq-list .collapsible-body > .cms_plugin > * {
  padding: 0;
}
.aldryn-faq-list .collapsible-body > p + p,
.aldryn-faq-list .collapsible-body > .cms_plugin + .cms_plugin,
.aldryn-faq-list .collapsible-body > .cms_plugin > p + p {
  padding: 0;
  margin-top: 1em;
}
