body {
  font-family: "akzidenz-grotesk", 'GE SS Two Light';
}
/*
*   Site Styles
*/
#cms-header {
  width: 100%;
  height: 70px;
  background-color: #2A2A2A;
  z-index: 100;
  position: relative;
}
@media (min-width: 640px) {
  #cms-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: row;
    -webkit-box-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -ms-flex-wrap: none;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: absolute;
    height: 160px;
    overflow: auto;
  }
  #cms-header > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
}
@media (min-width: 640px) {
  #cms-header .brand {
    background: white;
    padding: .25em .25em 0.1em;
    text-align: center;
  }
}
#cms-header .brand #logo {
  height: 100%;
  background-repeat: no-repeat;
}
@media (min-width: 640px) {
  #cms-header .brand #logo {
    background-image: url(../images/logo-large.png);
    background-image: url(../images/logo-large.svg);
    background-size: 100%;
    background-position: center;
    width: 100px;
    height: 100px;
    margin: 2em;
  }
}
@media only screen and (max-width: 639px) {
  #cms-header {
    background-color: white;
  }
  #cms-header .brand {
    height: 100%;
    margin: 0 10px;
  }
  #cms-header .brand #logo {
    background-image: url(../images/logo-small.png);
    background-image: url(../images/logo-small.svg);
    background-size: 100%;
    background-position: 0 10px;
    width: 140px;
    height: 60px;
  }
}
/*
    Menu style overrides
*/
@media (min-width: 640px) {
  #menu-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 0 40px;
  }
  #menu-container > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
  #menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: row;
    -webkit-box-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  #menu > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
  #menu li {
    border: 1px solid #3CB879;
    border-radius: 4px;
    background-color: #3cb879;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 13px 12px;
    transition: all 0.25s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: none;
    padding: 13px 24px!important;
    margin-right: 20px;
  }
  #menu li > a {
    color: white;
  }
  #menu li:hover {
    transition: all 0.25s;
    color: white;
    border-color: #288355;
    background-color: #288355;
  }
  #menu li:hover > a {
    color: white;
  }
  #menu li.inactive,
  #menu li.inactive:hover {
    border: 1px solid darkgrey;
    border-radius: 4px;
    background-color: white;
    color: darkgrey;
    font-weight: 600;
    text-align: center;
    padding: 13px 12px;
  }
  #menu li.inactive > a,
  #menu li.inactive:hover > a {
    color: darkgrey;
  }
  #menu li a,
  #menu li a:hover {
    text-decoration: none;
    border-bottom: none;
  }
  #menu li > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
  #menu li:last-child {
    margin-right: 0;
  }
  #menu li a {
    padding-bottom: 0;
  }
}
@media (min-width: 640px) {
  #page-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 160px;
    padding-bottom: 180px;
  }
}
@media (min-width: 640px) {
  #footer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 20px;
    box-sizing: border-box;
  }
}
/*
    Base styles
*/
#page {
  padding: 1.5em;
}
@media (min-width: 414px) {
  #page {
    padding: 3em;
  }
}
#content {
  background-color: white;
  padding: 30px;
}
ul {
  list-style: initial;
  padding-left: 40px;
}
ul.list-unstyled {
  list-style: none;
  padding-left: 0;
}
/*
    Mixins for flexbox
*/
.flex-layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-layout > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/*
    Headers for Aldryn pages
*/
#content #pages {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
#content #pages li {
  flex: 0 0 100%;
  margin-bottom: 2em;
}
#content #pages li .link {
  border: 1px solid #3CB879;
  border-radius: 4px;
  background-color: #3cb879;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 13px 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
#content #pages li .link > a {
  color: white;
}
#content #pages li .link .arrow {
  font-size: 18px;
}
@media (min-width: 414px) {
  #content #pages li {
    flex: 0 0 45%;
  }
}
.aldryn-faq-pager ul.pager {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -ms-flex-wrap: none;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.aldryn-faq-pager ul.pager > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.aldryn-faq-pager ul.pager a {
  color: inherit;
}
.aldryn-faq-pager ul.pager li span.text-muted {
  color: grey;
}
.pagination,
.pager {
  display: flex;
  flex-direction: column;
}
@media (min-width: 414px) {
  .pagination,
  .pager {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.pagination > *,
.pager > * {
  border: 1px solid #3cb879;
  border-radius: 4px;
  background-color: white;
  color: #3cb879;
  font-weight: 600;
  text-align: center;
  padding: 13px 12px;
  transition: all 0.25s;
  margin-bottom: 1em;
}
.pagination > * > a,
.pager > * > a {
  color: #3cb879;
}
.pagination > *:hover,
.pager > *:hover {
  transition: all 0.25s;
  color: white;
  border-color: #3CB879;
  background-color: #3cb879;
}
.pagination > *:hover > a,
.pager > *:hover > a {
  color: white;
}
.pagination > *.inactive,
.pager > *.inactive,
.pagination > *.inactive:hover,
.pager > *.inactive:hover {
  border: 1px solid darkgrey;
  border-radius: 4px;
  background-color: white;
  color: darkgrey;
  font-weight: 600;
  text-align: center;
  padding: 13px 12px;
}
.pagination > *.inactive > a,
.pager > *.inactive > a,
.pagination > *.inactive:hover > a,
.pager > *.inactive:hover > a {
  color: darkgrey;
}
.pagination > * a,
.pager > * a,
.pagination > * a:hover,
.pager > * a:hover {
  text-decoration: none;
  border-bottom: none;
}
@media (min-width: 414px) {
  .pagination > *,
  .pager > * {
    margin-bottom: 0;
  }
}
.aldryn {
  padding: 0 0 20px 0;
}
.aldryn > h2 {
  color: white;
  background-color: #33A069;
  padding: 10px 20px;
  border-radius: 4px;
}
.aldryn > h2 + * {
  margin-top: 30px;
  padding-top: 0 !important;
}
.aldryn > h2 a {
  color: inherit !important;
}
#content > .container > .row > *:first-child {
  /*
    Assume that the top item in an Aldryn page will always have a title.
    That box should be shifted 30 pixels up to align with the top of the
    content well.

    TODO: get this working. It does not work well yet.
  */
}
.aldryn-newsblog-categories ul.list-unstyled {
  list-style: initial;
  padding-left: 40px;
}
.aldryn-newsblog-categories ul.list-unstyled li span.badge {
  color: darkgrey;
}
.aldryn-newsblog-tags ul.list-unstyled {
  list-style: initial;
  padding-left: 40px;
}
.aldryn-newsblog-tags ul.list-unstyled li span.badge {
  color: darkgrey;
}
.aldryn-newsblog-authors ul.list-unstyled li {
  /*
        div.aldryn-newsblog-meta
      */
}
.aldryn-newsblog-authors ul.list-unstyled li.well {
  font-style: italic;
}
.aldryn-newsblog-article-search form .input-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: none;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.aldryn-newsblog-article-search form .input-group > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.aldryn-newsblog-article-search form .input-group input[type="text"] {
  border-radius: 4px 0 0 4px;
  border-right: 0;
}
.aldryn-newsblog-article-search form .input-group span.input-group-btn button.btn-primary {
  border-radius: 0 4px 4px 0;
  border-left: 0;
  transition: all 0.15s;
}
.aldryn-newsblog-article-search form .input-group input[type="text"]:focus + span.input-group-btn button {
  border-color: #3cb879;
  background-color: #3cb879;
  color: white;
  transition: all 0.15s;
}
.aldryn-newsblog-article-search .search-results ul.results-list {
  padding-left: 1em;
}
.aldryn-newsblog-article-search .search-results ul.results-list h3 {
  margin: 0.5em 0 0.5em -1em;
}
.aldryn-newsblog-article-search .search-results ul.results-list p.well {
  /* no results */
}
.aldryn-newsblog-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
.aldryn-newsblog-meta > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.aldryn-newsblog-meta .image.pull-left {
  padding: 0 1em 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.aldryn-newsblog-meta .image.pull-left > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.aldryn-newsblog-meta .image.pull-left a {
  text-decoration: none;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.aldryn-newsblog-meta .image.pull-left a > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.aldryn-newsblog-meta .meta p {
  margin: 0;
}
.aldryn-newsblog-pagination {
  margin: 2em 0;
}
.aldryn-newsblog-pagination ul.pagination {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: none;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.aldryn-newsblog-pagination ul.pagination > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.aldryn-newsblog-pagination ul.pagination a {
  color: inherit;
}
.aldryn-newsblog-pagination ul.pagination li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50px;
  -ms-flex: 0 1 50px;
  flex: 0 1 50px;
  box-sizing: border-box;
  margin-right: 10px;
}
.aldryn-newsblog-pagination ul.pagination li:last-child {
  margin-right: 0;
}
.aldryn-newsblog-pagination ul.pagination li.active {
  color: darkgrey;
  border-color: darkgrey;
  background-color: white;
}
.aldryn-newsblog-pagination ul.pagination li.active:hover {
  color: darkgrey;
  border-color: darkgrey;
  background-color: white;
}
.aldryn-newsblog article.aldryn-newsblog-article p.visual {
  margin-top: 0;
}
.aldryn-newsblog article.aldryn-newsblog-article p.visual a:hover {
  text-decoration: none;
  border: none;
}
.aldryn-newsblog article.aldryn-newsblog-article p.visual img {
  max-width: 100%;
}
.aldryn-newsblog article.aldryn-newsblog-article p.category {
  font-size: 80%;
  margin-top: initial;
}
.aldryn-newsblog article.aldryn-newsblog-article h2 {
  margin: 10px 0;
}
.aldryn-newsblog article.aldryn-newsblog-article h2:first-child {
  margin-top: 0;
}
.aldryn-newsblog article.aldryn-newsblog-article .lead {
  font-size: 115%;
  font-weight: 300;
}
.aldryn-newsblog article.aldryn-newsblog-article .content p:first-child {
  margin-top: 0;
}
.container .row {
  padding: 0;
}
.aldryn-newsblog {
  padding: 0 0 20px 0;
}
.aldryn-newsblog-list article,
.aldryn-newsblog-articles article {
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}
.aldryn-newsblog-list article:first-child,
.aldryn-newsblog-articles article:first-child {
  padding-top: 0;
}
.aldryn-newsblog-list article:last-child,
.aldryn-newsblog-articles article:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.aldryn-newsblog-list article p.visual,
.aldryn-newsblog-articles article p.visual {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}
.aldryn-newsblog-list article p.visual > *,
.aldryn-newsblog-articles article p.visual > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.aldryn-newsblog-list article .lead + .aldryn-newsblog-meta,
.aldryn-newsblog-articles article .lead + .aldryn-newsblog-meta {
  margin-top: 20px;
}
.aldryn-newsblog-pager ul.pager {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -ms-flex-wrap: none;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.aldryn-newsblog-pager ul.pager > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.aldryn-newsblog-pager ul.pager a {
  color: inherit;
}
.aldryn-newsblog-pager ul.pager li span.text-muted {
  color: grey;
}
.aldryn-newsblog-articles-featured {
  /* article.aldryn-newsblog-article */
}
.aldryn-faq .panel-heading {
  padding: 0 0 20px 0;
}
.aldryn-faq .panel-heading h3 {
  color: white;
  background-color: #33A069;
  padding: 10px 20px;
  border-radius: 4px;
}
.aldryn-faq .panel-heading h3 + * {
  margin-top: 30px;
  padding-top: 0 !important;
}
.aldryn-faq .panel-heading h3 a {
  color: inherit !important;
}
.aldryn-faq .list-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-orient: column;
  -webkit-box-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.aldryn-faq .list-group > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.aldryn-faq .list-group > * {
  margin: 0 0 10px 0;
}
.aldryn-faq .list-group a {
  text-decoration: none;
  border-bottom: none;
}
.aldryn-faq .list-group .list-group-item-text {
  margin: 10px 20px;
}
.aldryn-faq .list-group .list-group-item-text p {
  margin: 0;
}
.aldryn-faq-detail {
  padding-bottom: 0;
}
.aldryn-faq-detail .lead p {
  margin: 0;
}
.aldryn-faq-detail .content {
  margin-bottom: 20px;
}
.aldryn-faq-detail .categories {
  margin-bottom: 10px;
}
