@import "../../includes/mixins.less";

.aldryn-faq-pager,
.aldryn-events-pager {
  ul.pager {
    list-style: none;
    padding: 0;

    .flex-layout();
    .justify-content(space-between);
    .flex-wrap(nowrap);

    a {
      color: inherit;
    }

    li.previous {
      a {
        span {}
      }
    }

    li span.pager-back {
      a {}
    }

    li.next {}

    li {
      span.text-muted {
        color: grey;
      }
    }
  }
}

.pagination,
.pager {
    display: flex;
    flex-direction: column;

    @media (min-width: 414px) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    & > * {
        .white-green-button();
        margin-bottom: 1em;

        @media (min-width: 414px) {
            margin-bottom: 0;
        }
    }
}

.aldryn-newsblog-pagination,
.aldryn-events-pagination {
  margin: 2em 0;

  ul.pagination {
    list-style: none;
    padding: 0;
    .flex-layout();
    .flex-wrap(nowrap);
    .justify-content(center);
    .flex-direction(row);

    a {
      color: inherit;
    }

    li {
      .flex(0, 1, 50px);
      box-sizing: border-box;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: darkgrey;
        border-color: darkgrey;
        background-color: white;

        &:hover {
          color: darkgrey;
          border-color: darkgrey;
          background-color: white;
        }
        span {}
      }

      a {}
    }
  }
}
