
{% extends "cms/base.html" %}
{% load i18n %}
{% load cms_tags %}

{% block wrap-content %}
    <section class="section">
        {% block content %}
           <h5>{% trans "Service Information" %}</h5>

           {{ service.image}}

            <table class="table-condensed">

                <tr><td colspan="3">{% trans "Hours" %}</td></tr>
                <tr>
                  <td></td>
                  <th>Open</th>
                  <th>Closed</th>
                </tr>
                <tr>
                  <th>{% trans "Sunday" %}</th>
                  <td>{{ service.sunday_open }}</td>
                  <td>{{ service.sunday_close }}</td>
                </tr>
                <tr>
                  <th>{% trans "Monday" %}</th>
                  <td>{{ service.monday_open }}</td>
                  <td>{{ service.monday_close }}</td>
                </tr>
                <tr>
                  <th>{% trans "Tuesday" %}</th>
                  <td>{{ service.tuesday_open }}</td>
                  <td>{{ service.tuesday_close }}</td>
                </tr>
                <tr>
                  <th>{% trans "Wednesday" %}</th>
                  <td>{{ service.wednesday_open }}</td>
                  <td>{{ service.wednesday_close }}</td>
                </tr>
                <tr>
                  <th>{% trans "Thursday" %}</th>
                  <td>{{ service.thursday_open }}</td>
                  <td>{{ service.thursday_close }}</td>
                </tr>
                <tr>
                  <th>{% trans "Friday" %}</th>
                  <td>{{ service.friday_open }}</td>
                  <td>{{ service.friday_close }}</td>
                </tr>
                <tr>
                  <th>{% trans "Saturday" %}</th>
                  <td>{{ service.saturday_open }}</td>
                  <td>{{ service.saturday_close }}</td>
                </tr>
            </table>

            <br>

            <table class="table-condensed">
                <tr>
                  <td colspan="2">
                    {{ service.provider }}
                    {% if service.update_of %}
                       {{ service.update_of }}
                    {% endif %}
                  </td>
                </tr>
                    <th>{% trans "Provider" %}</th>
                    <th>
                    </th>
                </tr>
                <tr>
                    <th>{% trans "Type of Service" %}</th>
                    <td>{{ service.type }}</td>
                </tr>
                <tr>
                    <th>{% trans "Area of Service" %}</th>
                    <td>{{ service.area_of_service }}</td>
                </tr>
                <tr>
                    <th>{% trans "Arabic Name" %}</th>
                    <td>{{ service.name_ar }}</td>
                </tr>
                <tr>
                    <th>{% trans "English Name" %}</th>
                    <td>{{ service.name_en }}</td>
                </tr>
                <tr>
                    <th>{% trans "French Name" %}</th>
                    <td>{{ service.name_fr }}</td>
                </tr>
                <tr>
                    <th>{% trans "Arabic Description" %}</th>
                    <td>{{ service.description_ar }}</td>
                </tr>
                <tr>
                    <th>{% trans "English Description" %}</th>
                    <td>{{ service.description_en }}</td>
                </tr>
                <tr>
                    <th>{% trans "French Description" %}</th>
                    <td>{{ service.description_fr }}</td>
                </tr>
                <tr>
                    <th>{% trans "Arabic Additional Information" %}</th>
                    <td>{{ service.additional_info_ar }}</td>
                </tr>
                <tr>
                    <th>{% trans "English Additional Information" %}</th>
                    <td>{{ service.additional_info_en }}</td>
                </tr>
                <tr>
                    <th>{% trans "French Additional Information" %}</th>
                    <td>{{ service.additional_info_fr }}</td>
                </tr>
                <tr>
                    <th>{% trans "Cost of Service" %}</th>
                    <td>{{ service.cost_of_service }}</td>
                </tr>
                <tr>
                    <th>{% trans "Is Mobile?" %}</th>
                    <td>{{ service.is_mobile }}</td>
                </tr>
                <tr>
                    <th>{% trans "Is Mobile?" %}</th>
                    <td>{{ service.is_mobile }}</td>
                </tr>
                <tr>
                    <th>{% trans "Location" %}</th>
                    <td>{{ service.location }}</td>
                </tr>

            </table>

        {% endblock content %}
    </section>
{% endblock wrap-content %}
