@import "includes/mixins.less";

/*
    Base styles
*/
#page {
    padding: 1.5em;

    @media (min-width: 414px) {
        padding: 3em;
    }
}

#content {
    background-color: white;
    padding: 2em;
}

ul {
    list-style: initial;
    padding-left: 40px;
}

ul.list-unstyled {
  list-style: none;
  padding-left: 0;
 }
