#site-header {
    width: 100%;
    margin-bottom: 20px;

    .centered();
    flex-direction: column;

    .languages {
        & > .content {
            .centered();
            flex-direction: row;

            & > * {
                border: 1px solid darkgrey;
                padding: 0.25em 0.5em;
                display: inline-block;
                box-sizing: border-box;

                &:first-child ~ * {
                    margin-left: -1px;
                }
            }
        }
    }

    .logo.lg {
        display: none;
        @media (min-width: 414px) {
            .centered();
            flex-direction: row;

            .flex-pad();
             & > .content {
             }
        }
    }

    main {
        & > .content {
            .centered();
            flex-direction: row;
            flex-wrap: wrap;
        }
        /**
            Flex layout of main header elements
        */

        /*
            Main row
        */
        .logo.sm {
            order: 0;

            .flex-pad();
            flex: 0 0 25%;
            min-height: 100px;

            & > .content {
                width: 100%;
                height: 80px;
                border: 1px dashed darkgrey;
            }

            @media (min-width: 414px) {
                display: none;
            }
        }
        header {
            order: 1;

            .flex-pad();
            text-align: center;
            flex: 1 0 50%;

            @media (min-width: 414px) {
                order: 4;
            }
        }
        .social-links {
            order: 2;

            .flex-pad();
            & > .content {
                .centered();
                flex-direction: column;

                div {
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    border: 1px dashed darkgrey;
                    color: darkgrey;
                    margin-bottom: 10px;
                    .centered();
                }
                .lg {
                    display: none;
                }

            }
            flex: 0 0 25%;
            min-height: 100px;

            @media (min-width: 414px) {
                order: 2;
            }
        }

        /*
            Rest
        */
        .search {
            order: 3;

            .flex-pad();
            & > .content {
                .centered();
                flex-direction: row;
                flex: 0 0 100%;
            }

            input {
                padding: 0.5em;
                border: none;
                background-color: darkgrey;
                color: white;
                border-radius: 4px;
            }

            @media (min-width: 414px) {
            }
        }
        .alert {
            order: 4;

            .flex-pad();
            & > .content {
                .centered();
                flex-direction: row;
                flex: 0 0 100%;
            }

            background-color: gold;
            padding: 0.5em;

            @media (min-width: 414px) {
                order: 1;
            }
        }

        /*
            Nav layout
        */
        nav {
            order: 5;

            .flex-pad();
            flex: 0 0 100%;

            & > .content {
                .centered();
                flex-direction: row;
                flex-wrap: wrap;
            }

            ul {
                & > * {
                    flex-basis: calc(100% / 3);
                    flex-grow: 0;
                    flex-shrink: 0;
                    .flex-pad();
                    text-align: center;
                }
            }

            @media (min-width: 414px) {}
        }
    }
}
