<div class="row">
    <!-- Main Search -->
    <div class="side-section">
        <!-- Main Search -->
        <div class="primary-search">
            <div class=query-field-container>
                <input name="filtered-search" type="text" class="query form-control group-input" data-i18n="[placeholder]Service-Map.Filtered-Search.Search-Placeholder" value="{{ query }}"></input>
            </div>
            <div class="form-group"></div>
                <span class=error></span>
                <select id="id_type" name="type" class="query-service-type form-control">
                    <option value="" data-i18n="Service-Map.Filtered-Search.Any"></option>
                    <optgroup class="loading" data-i18n="[label]Service-Map.Filtered-Search.Loading"></optgroup>
                    <optgroup class="type-header" style="display:none" data-i18n="[label]Service-Map.Filtered-Search.TypeHeader"><optgroup>
                </select>
            </div>
        </div>

        <!-- Filter Area -->
        <div id="search-filter">
            <div class="options">
                <div class="row search-distance">
                    <label data-i18n="Service-Map.Filtered-Search.Sort"></label>
                    <input type="radio" name="sort" value="name"{{#if sort_by_name }} checked{{/if}}><span data-i18n="Service-Map.Filtered-Search.SortName" />
                    <input type="radio" name="sort" value="near"{{#if sort_by_distance }} checked{{/if}}><span data-i18n="Service-Map.Filtered-Search.SortNear" />
                </div>
                <!-- Disable until/if implemented -->
                <!-- <div class="two-third search-area">
                    <div class="form-group">
                        <label for="id_service_type" class="control-label"></span></label>
                        <div class="form-group">
                          <span class=error></span>
                          <select id="id_area" name="type" class=form-control>
                            <option value="" disabled=""><span data-i18n="Service-Map.Filtered-Search.Filter-Area"></option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="map-toggle">
        <div class="half">
            <button name="map-toggle-map" type="toggle" class="primary-button" data-i18n="Service-Map.List.Toggle"></button>
        </div>
        <div class="half">
            <button name="map-toggle-list" type="toggle" class="primary-button" data-i18n="Service-Map.Map.Toggle"></button>
        </div>
    </div>
</div>
