<div class="page-account-activate">
    <!-- Page Head -->
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="half">
                    <div class="page-title" data-i18n="Account-Activation.{{ status }}.Title"></div>
                    <div class="page-descr" data-i18n="Account-Activation.{{ status }}.Description"></div>
                </div>
                <div class="half"></div>
            </div>
        </div>
    </div>
    <!-- End Page Head -->

    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            {{#if failed }}
            <form id=resend-form>
                <div class="row">
                    <div class="form-group third">
                        <label for="id_email" class="control-label"><span data-i18n="Provider-Registration-Form.Form-Sections.Basic.Email"></span><span class=error></label>
                        <input id="id_email" type="email" name="email" class="form-control" data-i18n="[placeholder]Provider-Registration-Form.Form-Sections.Basic.EmailPlaceholder" >
                    </div>
                </div>
                <div class="row">
                    <div class="third">
                        <button class="form-btn-submit primary-button" data-i18n="Account-Activation.Buttons.Resend-Email"></button>
                    </div>
                    <div class="half"></div>
                </div>
            </form>
            {{/if}}
        </div>
    </div>
    <!-- End Main Content -->
</div>
