<!-- Page Head -->
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="half">
                    <div class="page-title" data-i18n="Account-Activation.Page-Head.Page-Title.Title"></div>
                    <div class="page-descr" data-i18n="Account-Activation.Page-Head.Page-Description.Page-Description"></div>
                </div>
                <div class="half"></div>
            </div>
        </div>
    </div>
<!-- End Page Head -->

<!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="third">
                    <button class="form-btn-submit primary-button" data-i18n="Account-Activation.Buttons.Resend-Email"></button>
                </div>
                <div class="half"></div>
            </div>
        </div>
    </div>
<!-- End Main Content -->