<!-- Page Head -->
    <div class="page-head">
        <div class="container">
        	<div class="half">
	            <div class="row">
	                <div class="col-sm-8 col-sm-offset-2">
	                    <div class="page-title" data-i18n="Feedback-Confirmation.Page-Head.Page-Title.Title"></div>
	                    <div class="page-descr" data-i18n="Feedback-Confirmation.Page-Head.Page-Description.Page-Description"></div>
	                </div>
	            </div>
	        </div>
	        <div class="half"></div>
        </div>
    </div>
<!-- End Page Head -->
