<!-- Page Head -->
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="page-title" data-i18n="Feedback-Tool.Title"></div>
                </div>
            </div>
        </div>
    </div>
<!-- End Page Head -->

<!-- Main Content -->

<!-- Forms -->
      <div class="main-content">
        <div class="container">
            <div class="row">
              To give feedback, please <a href="#search">Search</a> for a service,
              go to its page, and use the Feedback button.
            </div>
        </div>
      </div>

<!-- End Forms -->

<!-- End Main Content -->
