<div id="feedback-help">
<!-- Page Head -->
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="page-title" data-i18n="Feedback-Tool.Title"></div>
                </div>
            </div>
        </div>
    </div>
<!-- End Page Head -->

<!-- Main Content -->

<!-- Forms -->
      <div class="main-content">
        <div class="container">
            <div class="row" data-i18n="Feedback-Tool.Body"></div>
            <div class="row"><a href="#search" data-i18n="Menu.Search"></a></div>
        </div>
      </div>

<!-- End Forms -->

<!-- End Main Content -->
</div>
