<div class="third">
	<div id="service-provider-map" class="service-provider-map">
		<h1>View The Service Map</h1>
		<p>Use the service map to locate service providers.</p>
	</div>
</div>

<div class="third">
	<div id="feedback-tool" class="feedback-tool">
		<h1>Provide Feedback</h1>
		<p>Tell us about your experience working with your service provider.</p>
	</div>
</div>

<div class="third">
	<div id="service-provider-registration" class="service-provider-registration">
		<h1>Service Provider Login</h1>
		<p>Log into an existing service provider account, or create a new service provider account.</p>
	</div>
</div>



<!-- Page Head -->
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="page-title" data-i18n="Login-Form.Page-Head.Page-Title.Title"></div>
                    <div class="page-descr" data-i18n="Login-Form.Page-Head.Page-Description.Page-Description"></div>
                </div>
            </div>
        </div>
    </div>
<!-- End Page Head -->

<!-- Main Content -->
<div class="main-content">
	<div class="container">
		<div class="row">
			<div class="form">
				<div class="form-group">
                    <label for="id_username" class="control-label" data-i18n="Login-Form.Form.Username"></label>
                    <input for="id-username" type="text" class="form-control" tabindex="1"></input>
				</div>
				<div class="form-group">
                    <label for="id_password" class="control-label" data-i18n="Login-Form.Form.Password"></label>
                    <input for="id-password" type="text" class="form-control" tabindex="2"></input>
				</div>
			</div>
            <form>
              <div class="submit-form">
                <button class="primary-button" tabindex="17" data-i18n="Login-Form.Form-Submit-Options.Submit"></button>
              </div>
            </form>
		</div>
	</div>
</div>
<!-- End Main Content -->
