<div class="third">
	<div id="service-provider-map" class="service-provider-map">
		<h1>View The Service Map</h1>
		<p>Use the service map to locate service providers.</p>
	</div>
</div>

<div class="third">
	<div id="feedback-tool" class="feedback-tool">
		<h1>Provide Feedback</h1>
		<p>Tell us about your experience working with your service provider.</p>
	</div>
</div>

<div class="third">
	<div id="service-provider-registration" class="service-provider-registration">
		<h1>Service Provider Login</h1>
		<p>Log into an existing service provider account, or create a new account.</p>
	</div>
</div>