<div id="landing">
<!-- Main Content -->
<div class="main-content">

	<div class="row">
		<div id="service-user" class="service-user">
			<p data-i18n="Landing.User.Title"></p>
			<a href="#/search">
				<button class="primary-button" data-i18n="Landing.User.Search"></button>
			</a>
			<a href="#/feedback">
				<button class="primary-button" data-i18n="Landing.User.Give-Feedback"></button>
			</a>
		</div>
	</div>

	<div class="row">
		<div id="service-provider" class="service-provider">
			<p data-i18n="Landing.Provider.Title"></p>
			<a class=when-logged-out href="#/register">
				<button class="primary-button" data-i18n="Landing.Provider.Logged-Out.Register"></button>
			</a>
			<a class=when-logged-out href="#/login">
				<button class="primary-button" data-i18n="Landing.Provider.Logged-Out.Login"></button>
			</a>
			<a class=when-logged-in href="/#/register">
				<button class="primary-button" data-i18n="Landing.Provider.Logged-In.Update-My-Info"></button>
			</a>
			<a class=when-logged-in href="/#/manage/service-list">
				<button class="primary-button" data-i18n="Landing.Provider.Logged-In.Update-My-Service"></button>
			</a>
			<a class=when-logged-in href="/#/manage/service">
				<button class="primary-button" data-i18n="Landing.Provider.Logged-In.Add-Service"></button>
			</a>
		</div>
	</div>
</div>
<!-- End Main Content -->
	<div class="landing-img"></div>
</div>