<div class="third">
	<div id="service-provider-map" class="service-provider-map">
		<h1 data-i18n="home.Service-Map.Title"></h1>
		<p data-i18n="Home.Service-Map.Body"></p>
	</div>
</div>

<div class="third">
	<div id="feedback-tool" class="feedback-tool">
		<h1 data-i18n="Home.Feedback.Title"></h1>
		<p data-i18n="Home.Feedback.Body"></p>
	</div>
</div>

<div class="third">
	<div id="service-provider-registration" class="service-provider-registration">
		<h1 data-i18n="Home.Log-in.Title"></h1>
		<p data-i18n="Home.Log-in.Body"></p>
	</div>
</div>