<div id="landing">
<!-- Main Content -->
<div class="main-content">

	<div class="row">
		<div id="service-user" class="service-user">
			<p data-i18n="Landing.User.Title"></p>
			<a href="#/search">
				<button class="primary-button" data-i18n="Landing.User.Search"></button>
			</a>
			<a href="#/feedback">
				<button class="primary-button" data-i18n="Landing.User.Give-Feedback"></button>
			</a>
		</div>
	</div>

	<div class="row">
		<div id="service-provider" class="service-provider">
			<p data-i18n="Landing.Provider.Title"></p>
			<a href="#/register">
				<button class="primary-button" data-i18n="Landing.Provider.Register"></button>
			</a>
		</div>
	</div>
</div>
<!-- End Main Content -->
	<div class="landing-img"></div>
</div>