<div id="landing" class="landing">
	<div class="landing-img"></div>
	<div class="row">
		<div id="landing-logo" class="landing-logo"></div>
	</div>
	<div class="row">
		<div id="service-user" class="service-user">
			<p data-i18n="Landing.User.Title"></p>
			<button class="primary-button" data-i18n="Landing.User.Search"></button>
			<button class="primary-button" data-i18n="Landing.User.Give-Feedback"></button>
		</div>
	</div>

	<div class="row">
		<div id="service-provider" class="service-provider">
			<p data-i18n="Landing.Provider.Title"></p>
			<button class="primary-button" data-i18n="Landing.Provider.Register"></button>
		</div>
	</div>
</div>