<!-- Page Head -->
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="page-title" data-i18n="Import-Export.Page.Title"></div>
                </div>
            </div>
        </div>
    </div>
<!-- End Page Head -->

<!-- Main Content -->

<!-- Export -->
<div class="main-content">
  <div class="container">
    <fieldset>
      <legend data-i18n="Export-Tool.Title"></legend>
      <div class="row">
        <p>
          <span data-i18n="Export-Tool.Description1"></span>
          <span data-i18n="Export-Tool.Description2"></span>
          <span data-i18n="Export-Tool.Description3"></span>
        </p>
      </div>
      <div class="row">
        <div class="half">
          <button id="export" class="submit primary-button form-btn-submit" tabindex="3" data-i18n="Export-Tool.Button"></button>
        </div>
        <div class="half"></div>
      </div>
    </fieldset>
  </div>
</div>

<!-- Import -->
<div class="main-content">
  <div class="container">
    <form method="post" enctype="multipart/form-data" id="import_form">
      <fieldset>
        <legend data-i18n="Import-Tool.Title"></legend>
        <div class="row">
          <label data-i18n="Service-List.Import-File"></label>
        </div>
        <div class="row">
          <input type="file" name="file" id="id_file" required>
          <div class="row error error-submission center-text"></div>
        </div>
        <div class="row">
          <div class="half">
            <button class="submit primary-button form-btn-submit" tabindex="3" data-i18n="Import-Tool.Button">Import</button>
          </div>
          <div class="half"></div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<!-- Help -->
<div class="main-content">
  <div class="container">
    <fieldset>
      <legend  data-i18n="Import-Export.Help.Title"></legend>
      <div class="row">
        <p data-i18n="Import-Export.Help.Help1"></p>
        <p data-i18n="Import-Export.Help.Help2"></p>
        <p data-i18n="Import-Export.Help.Help3"></p>
        <p data-i18n="Import-Export.Help.Help4"></p>
        <p data-i18n="Import-Export.Help.Help5"></p>
        <p data-i18n="Import-Export.Help.Help6"></p>
        <p data-i18n="Import-Export.Help.Help7"></p>
      </div>
    </fieldset>
  </div>
</div>

<!-- End Main Content -->
