<div class=language-toggle>
    <button class="primary-button" data-lang="en">English</button><button class="primary-button lang-btn-ar" data-lang="ar">&#x627;&#x644;&#x639;&#x631;&#x628;&#x64A;&#x629;</button><button class="primary-button" data-lang="fr">Fran&#xE7;ais</button>
</div>
