<div class=language-toggle>
    <button data-lang="en">English</button><button data-lang="fr">Fran&#xE7;ais</button><button data-lang="ar">&#x627;&#x644;&#x639;&#x631;&#x628;&#x64A;&#x629;</button>
</div>
