<!-- Page Head -->
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="page-title" data-i18n="Login-Form.Page-Head.Page-Title.Title"></div>
                <div class="page-descr" data-i18n="Login-Form.Page-Head.Page-Description.Page-Description"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Head -->

<!-- Main Content -->
<div class="main-content">
	<div class="container">
		<div class="row">
			<form class=form-login>
				<div class="form-group">
			        <label for="id_email" class="control-label"><span data-i18n="Login-Form.Form.Email"></span><span class="error error-email"></span></label>
			        <input id=id_email name=email type="text" class="form-control" tabindex="1"></input>
			    </div>
				<div class="form-group">
			        <label for="id_password" class="control-label"><span data-i18n="Login-Form.Form.Password"></span><span class="error error-password"></span></label>
			        <input id=id_password type=password name=password class="form-control" tabindex="2"></input>
			    </div>
                <div class="row center-text">
                    <span class="error non-field-errors"></span>
                </div>
                <div class="row error error-submission center-text"></div>
			    <button class="submit primary-button" tabindex="3" data-i18n="Login-Form.Form-Submit-Options.Submit">login</button>
			</form>
		</div>

		<div class="row center-text">
			<a href="#/register" data-i18n="Login-Form.Form-Submit-Options.Register"></a>
		</div>
        <div class="row center-text">
            <a href="#/register/verify/resend" data-i18n="Provider-Registration-Form.Form-Sections.Form-Submit-Options.ResendVerify"></a>
        </div>
	</div>
</div>

<!-- End Main Content -->
