<h1>login</h1>
<form class=form-login>
    <div>
        <span class="error-email"></span>
        <input name=email></input>
    </div>
    <div>
        <span class="error-password"></span>
        <input type=password name=password></input>
    </div>

    <button class="btn submit">login</button>
</form>
