<!-- Page Head -->
<div class="page-head">
    <div class="container">
        <div class="row">
            {{#if feedback }}
                <div class="page-title" data-i18n="Feedback-Map.Page-Head.Title"></div>
                <div class="page-descr" data-i18n="Feedback-Map.Page-Head.Description"></div>
            {{else}}
                <div class="page-title" data-i18n="Service-Map.Page-Head.Page-Title.Title"></div>
                <div class="page-descr" data-i18n="Service-Map.Page-Head.Page-Description.Page-Description"></div>
            {{/if}}
        </div>
    </div>
</div>
<!-- End Page Head -->

<div id="search" class="search-map">
    <!-- "floating" button -->
    <div class="float-bottom-end">
        <a href="#/service/request">
            <button class="primary-button"  data-i18n="Search-List.Service-Request" id="request_service_button"></button>
        </a>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div id="search_controls"></div>

        <div class="row no-search-results">
            <span data-i18n="Service-Map.No-Search-Results"></span>
        </div>

        <div class="row more-results">
            <span id="more_results"></span>
        </div>

        <div class="row">
            <div id="map_container">
                <div id="map_canvas"></div>
            </div>
        </div> <!-- End Row -->
    </div> <!-- End Main Content -->
</div>
