<p>Map</p>
<div id="map_container">
    <input class="query" value="{{ query }}"></input>
    <select class="query-service-type">
        <option value="">Any</option>
        <optgroup class="loading" data-i18n="[label]Map.Loading"></optgroup>
        <optgroup class="type-header" style="display:none" data-i18n="[label]Map.TypeHeader"></optgroup>
    </select>
    <div id="map_canvas"></div>
</div>
