<!-- Page Head -->
    <div class="page-head">
        <div class="container">
        	<div class="half">
	            <div class="row">
                    <div class="page-title" data-i18n="Password-Reset-Form.Title"></div>
                    {{#if valid_key }}
                        <div class="page-descr" data-i18n="Password-Reset-Form.Description"></div>
                    {{/if}}
	            </div>
	        </div>
	        <div class="half"></div>
        </div>
    </div>
<!-- End Page Head -->

<!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <div class="row">
                {{# if valid_key }}
                    <form>
                        <div class="form-group">
                            <div class="half">
                                <div class="form-group">
                                    <label for="id_password1" class="control-label"><span data-i18n="Password-Reset-Form.Input-Label.New-Password"></span><span class=error></span></label>
                                    <input id=id_password1 type="password" name="password1" data-i18n-field class="form-control" maxlength="255" minlength=6>
                                    <label for="id_password2" class="control-label"><span data-i18n="Password-Reset-Form.Input-Label.New-Password2"></span><span class=error></span></label>
                                    <input id=id_password2 type="password" name="password2" data-i18n-field class="form-control" maxlength="255" minlength=6>
                                </div>
                                <div class="submit-form">
                                    <button class="form-btn-submit primary-button" data-i18n="Password-Reset.Submit-Options.Submit"></button>
                                </div>
                            </div>
                            <div class="half"></div>
                        </div>
                    </form>
                {{else}}
                    <div data-i18n="Password-Reset-Form.Invalid-Link"></div>
                {{/if}}
            </div>
        </div>
    </div>
<!-- End Main Content -->
