<!-- Page Head -->
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="page-title">Provide Feedback</div>
                    <div class="page-descr">Fill out the form below to provide feedback on your experience working with your service provider.</div>
                </div>
            </div>
        </div>
    </div>
<!-- End Page Head -->

<!-- Main Content -->

<!-- Forms -->
      <div class="main-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

            <form>
              <fieldset>
                <legend>Basic details to register a service provider:</legend>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="id_full_name" class="control-label">Full Name</label>
                      <div class="form-group">
                        <input type="text" name="full-name" class="form-control">
                      </div>                 
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="id_type_of_service" class="control-label">Type of Service</label>
                      <div class="btn-group">
                          <button type="button" class="btn btn-default" data-toggle="dropdown">Select type of service</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Type 1</a></li>
                              <li><a href="#">Type 2</a></li>
                              <li><a href="#">Type 3</a></li>
                              <li><a href="#">Type 4</a></li>
                              <li><a href="#">Type 5</a></li>
                          </ul>
                      </div>                  
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="id_provider_phone-number" class="control-label">Phone Number</label>
                      <div class="form-group">
                        <input type="tel" name="usrtel" class="form-control">
                      </div>                 
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="id_provider_email" class="control-label">Email <span class="optional">(Optional Field)</span></label>
                      <div class="form-group">
                        <input type="email" name="provideremail" class="form-control" placeholder="Enter your Email">
                      </div>                 
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="id_provider_website" class="control-label">Website <span class="optional">(Optional Field)</span></label>
                    <div class="form-group">
                      <input type="url" name="providerurl" class="form-control" placeholder="Enter your website url">
                    </div>                 
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="id_provider_description" class="control-label">Description</label>
                    <div class="form-group">
                      <textarea rows="4" name="other-comments" class="form-control"></textarea>
                    </div> 
                  </div>
                </div>
              </fieldset>
            </form>

            <form>
              <fieldset>
                <legend>Service Information</legend>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="id_name_of_service" class="control-label">Name of Service</label>
                      <div class="form-group">
                        <input type="text" name="name_of_service" class="form-control">
                      </div>                 
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="id_area_of_service" class="control-label">Area of Service</label>
                      <div class="btn-group">
                          <button type="button" class="btn btn-default" data-toggle="dropdown">Select an Area</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Area 1</a></li>
                              <li><a href="#">Area 2</a></li>
                              <li><a href="#">Area 3</a></li>
                              <li><a href="#">Area 4</a></li>
                              <li><a href="#">Area 5</a></li>
                          </ul>
                      </div>                  
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="id_description_of_service" class="control-label">Description</label>
                    <div class="form-group">
                      <textarea rows="2" name="other-comments" class="form-control"></textarea>
                    </div> 
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="id_hours_of_service" class="control-label">Hours of Service</label>
                    <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="opening-time" class="operating-hours">Opening Time:</label>
                        <input type="time" name="time_of_service" class="form-control">
                      </div>
                    </div> 
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="closing-time" class="operating-hours">Closing Time:</label>
                        <input type="time" name="time_of_service" class="form-control">
                      </div>
                    </div>   
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="id_additional_information" class="control-label">Additional Information <span class="optional">(Optional Field)</span></label>
                    <div class="form-group">
                      <textarea rows="4" name="additional_information" class="form-control"></textarea>
                    </div> 
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="id_cost_of_service" class="control-label">Cost of Service <span class="optional">(Optional Field)</span></label>
                      <div class="form-group">
                        <input type="text" name="cost_of_service" class="form-control">
                      </div>                 
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="id_selection_criteria" class="control-label">Selection Criteria <span class="optional">(Optional Field)</span></label>
                    <div class="radio">
                      <label>
                        <input type="radio" name="Selection_Criteria_1" id="Selection_Criteria_1" value="option1" checked="">
                        Option 1
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="Selection_Criteria_2" id="Selection_Criteria_2" value="option2">
                        Option 2
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="Selection_Criteria_3" id="Selection_Criteria_3" value="option3">
                        Option 3
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
            <form>
              <div class="col-sm-12">
                  <div class="half">
                    <button class="primary-button">Submit</button>
                  </div>
                  <div class="half">
                    <button class="primary-button">Clear Answers</button>
                  </div>
              </div>
            </form>
              
            </div>
          </div>
        </div>

<!-- End Forms -->
    
<!-- End Main Content -->