<!-- As defined by the Provider serializer, these fields are expected:

        email
        password
        base_activation_link

        url
        id
        name_en
        name_ar
        name_fr
        type
        phone_number
        website
        description_en
        description_ar
        description_fr
        number_of_monthly_beneficiaries

        'user',
-->

<!-- Page Head -->
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="page-title" data-i18n="Provider-Registration-Form.Page-Head.Page-Title.Title"></div>
                    <div class="page-descr" data-i18n="Provider-Registration-Form.Page-Head.Page-Description.Page-Description"></div>
                </div>
            </div>
        </div>
    </div>
<!-- End Page Head -->

<!-- Main Content -->

<!-- Forms -->
      <div class="main-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

            <form>
              <fieldset>
                <legend data-i18n="Provider-Registration-Form.Form-Sections.Basic.Legend"></legend>

                <div class="row">
                  <div class="form-group">
                    <div class="half">
                      <div class="form-group">
                        <label for="name" class="control-label"><span data-i18n="Provider-Registration-Form.Form-Sections.Basic.Name"></span><span class=error></label>
                        <input type="text" name="name" data-i18n-field class="form-control" ></input>
                      </div>
                    </div>

                    <div class="half">
                      <div class="form-group">
                        <label for="email" class="control-label"><span data-i18n="Provider-Registration-Form.Form-Sections.Basic.Email"></span><span class="error"></span></label>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Enter your Email" >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                {{!-- FIXME: For now, don't allow changing password of an existing user --}}
                {{#if is_new }}
                <div class="row">
                  <div class="form-group">
                      <div class="half">
                          <div class="form-group">
                              <label for="password1" class="control-label"><span data-i18n="Provider-Registration-Form.Form-Sections.Basic.Password"></span><span class=error></label>
                                  <input type="password" name="password1" class="form-control" ></input>
                          </div>
                      </div>

                      <div class="half">
                          <div class="form-group">
                              <label for="password2" class="control-label"><span data-i18n="Provider-Registration-Form.Form-Sections.Basic.PasswordConfirm"></span><span class="error"></span></label>
                              <div class="form-group">
                                  <input type="password" name="password2" class="form-control" >
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                {{/if}}

                <div class="row">
                  <div class=form-group>
                    <div class="half">
                      <div class="form-group">
                        <label for="id_type" class="control-label"><span data-i18n="Provider-Registration-Form.Form-Sections.Basic.Provider-Type"></span><span class=error></label>
                        <div class="form-group">
                          <select id="id_type" name="type" class=form-control>
                              <option value="" data-i18n="Provider-Registration-Form.Form-Sections.Basic.Provider-Type-Choose"></option>
                              {{#each providertypes}}
                                <option value="{{ this.url }}">{{ this.name }}</option>
                              {{/each}}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="half">
                      <div class="form-group">
                        <label for="phone_number" class="control-label"><span data-i18n="Provider-Registration-Form.Form-Sections.Basic.Phone-Number"></span><span class=error></label>
                        <div class="form-group">
                          <input type="tel" name="phone_number" class="form-control" >
                        </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <div class=half>
                        <label for="website" class="control-label"><span data-i18n="Provider-Registration-Form.Form-Sections.Basic.Website"></span><span class=error></label>
                        <div class="form-group">
                          <input type="url" name="website" class="form-control" placeholder="Enter your website url" >
                        </div>
                    </div>
                    <div class=half>
                      <label for="id_number_of_monthly_beneficiaries" class="control-label"><span data-i18n="Provider-Registration-Form.Form-Sections.Basic.MonthlyBeneficiaries"></span><span class=error></label>
                      <div class="form-group">
                          <input id="id_number_of_monthly_beneficiaries" required type="number" name="number_of_monthly_beneficiaries" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label for="description" class="control-label"><span data-i18n="Provider-Registration-Form.Form-Sections.Basic.Description"></span><span class=error></label>
                    <div class="form-group">
                      <textarea rows="4" name="description" data-i18n-field class="form-control"></textarea>
                    </div>
                  </div>
                </div>

              </fieldset>

              <div class="submit-form">
                <div class="half">
                  <button class="form-btn-submit primary-button" tabindex="17" data-i18n="Provider-Registration-Form.Form-Sections.Form-Submit-Options.Submit"></button>
                </div>
                <div class="half">
                  <button class="form-btn-clear primary-button" tabindex="18" data-i18n="Provider-Registration-Form.Form-Sections.Form-Submit-Options.Clear"></button>
                </div>
              </div>
            </form>

            </div>
          </div>
        </div>

<!-- End Forms -->

<!-- End Main Content -->
