<!-- Page Head -->
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="half">
                <div class="page-title" data-i18n="Reports.Title"></div>
                <div class="page-descr" data-i18n="Reports.Description"></div>
            </div>
            <div class="half"></div>
        </div>
    </div>
</div>
<!-- End Page Head -->

<!-- Main Content -->
<div class="main-content">
    <div class="container">
        <form class="row">
            <div class="form-group third">
                <label for="id_stat" class="control-label">
                    <span data-i18n="Reports.Form.Stat.Label"></span>
                </label>
                <span class=error></span>
                <select name="stat" id="id_stat" class="form-control">
                    {{#each options}}
                        <option value="{{ this.value }}" {{#if this.selected }}selected{{/if}} data-i18n="Reports.Form.Stat.Options.{{ this.label }}"></option>
                    {{/each}}
                </select>
            </div>
        </form>
        <div class="row">
          <div id="chart"></div>
        </div>
        <table id="report-table" class="table"></table>
        <div class="row">
            <div class="form-group third">
                <button class="form-btn-submit primary-button download" data-i18n="Reports.Form.Download"></button>
            </div>
        </div>
    </div>
</div>
<!-- End Main Content -->
