<!-- Page Head -->
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-title" data-i18n="Service-List.Page-Head.Page-Title.Title"></div>
                <div class="page-descr" data-i18n="Service-List.Page-Head.Page-Description.Page-Description"></div>
            </div>
        </div>
    </div>
<!-- End Page Head -->

<!-- Main Content -->
<div class="row">
	<table id="service-status" class="table">
		<thead>
			<tr>
				<th>Name:</th>
				<th>Type:</th>
				<th>Area:</th>
				<th>Status:</th>
			</tr>
		</thead>
		<tbody>
			<tr class="approved">
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
			</tr>
			<tr class="denied">
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
			</tr>
			<tr>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
			</tr>
			<tr>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- End Main Content -->
