body {

}
html,body,#application {
    height: 100%;
}

.language-toggle button {
    border: 1px solid black;
}

#application-header {
    width: 100%;
    height: 100px;
    background: #FEC82D;
}

#application-header img#logo {
    height: 100%;
}

#application-footer {
    width: 100%;
    height: 50px;
    background: lightgrey;

    position: fixed;
    bottom: 0px;
}

#menu {
    max-width: 280px;
    background: #FEC82D;
    list-style: none;
    padding: 0px 5px;
    min-width: 100px;
    border: 1px solid grey;
}
#menu li {
    border-bottom: 1px solid grey;
    width: 100%
}
#menu li:last-child {
    border-bottom: none;
}

@media only screen and (orientation: landscape) {
    #application-header {
        width: 150px;
        height: 100%;
        display: inline-block;
    }
    #application-header img#logo {
        width: 50%;
        height: auto;
    }
    #page-container {
        display: inline-block;
    }
    #menu-toggle {
        display: none;
    }
}

@media only screen and (orientation: portrait) {
    #menu {
        position: absolute;
        right: 0px;
        top: 30px;
    }
    .menu-closed #menu {
        display: none;
    }
    #menu-toggle {
        position: absolute;
        right: 0px;
        top: 0px;
    }
}
