body {
  font-family: 'Source Sans Pro', Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  background-color: #F3F3F4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.language-toggle button {
    border: 1px solid black;
}

/*
*   Site wide Styles
*/

h1,h2,h3,h4,h5,h6,b {
	font-weight: 600;
	margin: 0;
}

p {
	font-weight: 300;
	margin-top: 20px;
	line-height: 160%;
	color: #666666;
}

a {
	color: #3cb879;
	text-decoration: none;
	padding-bottom: 3px;
}

a:hover {
	color: #3cb879;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px solid #3cb879;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 0;
}

/*
*   Container Elements
*/

.row {
	padding: 15px 5px;
}

@media (min-width: 1px) and (max-width: 768px) {
	.row {
		padding: 0;
	}
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 10px;
	padding-right: 10px;
}

@media (min-width: 1px) and (max-width: 768px) {
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
	.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
	.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
	.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
	.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
	.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
	.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
	.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
	.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding: 0;
	}
}

.half {
	width: 50%;
	margin: 0;
	float: left;
}

.half:first-child {
	padding: 0 5px 0 10px;
}
.half:last-child {
	padding: 0 10px 0 5px;
}

.main-content {
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 0 15px 15px 15px;
	overflow: auto;
}

/*
*   Dropdown Menu
*/

.dropdown {
	text-align: left;
	font-size: 14px;
	width: 100%;
	padding: 6px 12px;
	background-color: #F5F5F5;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.dropdown > a {
	color: #666666;
}

.dropdown > a:hover {
	text-decoration: none;
	border-bottom: none;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 0;
	margin: 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-top-right-radius: 0;
	-moz-border-top-left-radius: 0;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu > li {
	margin: 0;
	padding: 0;
}

.dropdown-menu> li > a {
	padding: 10px 12px;
	margin: 0;
	border-bottom: 0;
}

/*
*   Page Head
*/

.page-head {
	background-color: #fff;
	padding: 10px 15px 20px 15px;
}

.page-title {
	font-size: 28px;
	margin-bottom: 10px;
	color: #333333;
}

.page-descr {
	font-size: 14px;
    line-height: 1.6em;
	padding-bottom: 0;
	color: #666666;
}

/*
*   Buttons
*/

.btn-default {
	border-color: #CCCCCC;
	color: inherit;
}

.primary-button {
	margin: 0 auto;
	padding: 6px 12px;
	background-color: #3cb879;
	border-width: 1px;
	border-style: solid;
	border-color: #3CB879;
	width: 100%;
	text-align: center;
	font-weight: 600;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/*
*   Button Group
*/

.btn-group {
	width: 100%;
}

.btn-group>.btn {
	text-align: left;
	font-size: inherit;
	width: 85%;
	background-color: #F5F5F5;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
}

.btn-group>.btn+.dropdown-toggle {
	width: 15%;
	background-color: #3cb879;
	border-width: 1px;
	border-style: solid;
	border-color: #3CB879;
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;

}

.btn-group>.btn+.dropdown-toggle:hover {
	background-color: #33A069;
	border: 1px solid #33A069;
}

.btn-group>.btn+.dropdown-toggle>.caret {
	color: #FFF;
	border-top: 8px solid;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}

.dropdown-toggle.btn-default {
	color: #666;
	background-color: #F5F5F5;
	border-color: #CCCCCC;
	box-shadow: none;
}

.open>.dropdown-toggle.btn-default {
	color: #666;
	background-color: #CBCBCB;
	border-color: #CCCCCC;
	box-shadow: none;
}

.btn-group.open .dropdown-toggle {
	box-shadow: none;
}

.btn-group>.dropdown-toggle:not(:first-child) {
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	text-align: center;
	z-index: 3;
}

.btn-group>.dropdown-menu {
	width: 100%;	
}

.btn-group>.dropdown-menu>li {
	margin: 0;
	padding: 0;
}

.btn-group>.dropdown-menu>li>a {
	margin: 0;
	padding: 10px 12px;
}

.btn-group>.dropdown-menu>li>.title {
	font-weight: 600;
	font-size: 16px;
}

.btn-group>.dropdown-menu>li>.response {
	font-weight: 300;
	font-size: 16px;
}

/*
*   Fieldset
*/

fieldset {
	padding: 10px;
	margin-bottom: 30px;
	border: 1px solid rgb(236, 236, 236);
}

fieldset > legend {
	font-size: 16px;
	font-weight: 600;
	padding-left: 10px;
	margin-bottom: 5px;
	color: #3cb879;
	border-bottom: none;
}

/*
*   Form Group
*/

.form-group {
	padding: 0;
	margin-bottom: 18px;
	height: auto;
	float: none;
}

@media (min-width: 768px) {
	.form-group {
		margin-bottom: 15px;
	}
}

.form-group .row {
	padding: 0 5px;
}

@media (min-width: 1px) and (max-width: 767px) {
	.form-group .row {
		padding: 0 15px;
	}
}

.form-group .row .form-group{
	margin-bottom: 0;
}

.control-label {
	text-align: left;
	padding-top: 6px;
	font-weight: 600;
	display: block;
}

.form-control {
	background-color: #F5F5F5;
	border-radius: 4px;
	border-color: #CCCCCC;
	box-shadow: none;
}

.form-control:focus {
	border-color: #3cb879;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*
*   Radio Button
*/

.radio {
	display: inline-block;
	margin-top: 4px;
}

.radio > label {
	margin-right: 24px;
}

/*
*   Range
*/

input[type=range] {
	display: block;
	width: 100%;
	margin-top: 20px;
}