body {
  font-family: 'Source Sans Pro', Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 400;
  color: #333;
  background-color: #F3F3F4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}
html,body,#application {
    height: 100%;
}

.language-toggle {
    background-color: #3cb879;
}

.language-toggle button {
    border: 1px solid #3cb879;
    height: 64px;
    width: 33.33%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.language-toggle button:not(:first-child) {
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #33A069;
}

.lang-btn-ar {
    position: relative;
    top: -1px;
}

/*
*   Site wide Styles
*/

h1,h2,h3,h4,h5,h6,b {
	font-weight: 600;
	margin: 0;
	line-height: 1.3em;
}

p {
	font-weight: 300;
	margin-top: 20px;
	line-height: 160%;
	color: #666666;
}

a {
	color: #3cb879;
	text-decoration: none;
	padding-bottom: 3px;
}

a:hover {
	color: #3cb879;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px solid #3cb879;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/*
*   Container Elements
*/

.row {
	padding: 15px 5px;
    clear: both;
}

@media (min-width: 1px) and (max-width: 1000px) {
	.row {
		padding: 0;
	}
}

.half {
	width: 100%;
	margin: 0;
	float: none;
    // clear: both;

	@media (min-width: 1000px) {
		width: 48%;
		float: left;
	}
}

.half:first-child {
float: none;
	@media (min-width: 1000px) {
		float: left;
	}
}

.half:last-child {
    float: none;

	@media (min-width: 1000px) {
		float: right;
	}
}

.form-options > .half {
	width: 48%;
	float: left;

	&:first-child {
		float: left;
	}

	&:last-child {
	    float: right;
	}

	&:only-child {
		float: left;

		@media (max-width:1000px) {
			float: left;
		}
	}
}

.third {
	width: 100%;
	margin: 0;
	padding: 0;
	float: none;
	&:first-child {
		margin-top: 1em;
	}

	@media (min-width: 1000px) {
		width: 31.3333%;
		float: left;
        margin-top: 1em;
	}
}

.quarter {
    width: 100%;
    margin: 0;
    padding: 0;
    float: none;
    // clear: both;

    &:first-child{
        margin-top: 2em;
    }

    @media (min-width: 1000px) {
        width: 19.0%;
        float: left;

        &:first-child{
            margin-top: 0;
        }
    }
}

.center-text {
	text-align: center;
}

.main-content {
	background-color: #f3f3f4;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 0 15px 15px 15px;
    clear: both;
}

.submit-form {
    height: 60px;
    margin-bottom: 10px;

    .primary-button {
        @media (min-width:1px) and (max-width:1000px){
            margin-bottom: 18px;
        }
    }
}

.operating-hours {
    font-weight: 400;
    color: inherit;
}

.operating-hours-to {
    padding: 12px 12px 0px 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: 600;
    margin-top: -10px;
}

@media (min-width:1px) and (max-width:400px) {
    .operating-hours {
        margin-top: 10px;
    }
}
@media (max-width: 1000px) {
    .operating-hours-to {
        border: none;
    }
}

#service-hours {
	.row {
		padding: 5px 0;
	}
	.third {
		width: 100%;
		padding: 0;
		margin-top: 0;

		@media (min-width: 1000px){
			width: 30.75%;
			padding: 0 1.292%;

		}

		.form-group{
			margin-bottom: 18px,
		}
	}
}

/*
*   Dropdown Menu
*/

.dropdown {
	text-align: left;
	font-size: 14px;
	width: 100%;
	padding: 6px 12px;
	background-color: #F5F5F5;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.dropdown > a {
	color: #666666;
}

.dropdown > a:hover {
	text-decoration: none;
	border-bottom: none;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 0;
	margin: 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-top-right-radius: 0;
	-moz-border-top-left-radius: 0;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu > li {
	margin: 0;
	padding: 0;
}

.dropdown-menu> li > a {
	padding: 10px 12px;
	margin: 0;
	border-bottom: 0;
}

/*
*   Page Head
*/

.page-head {
	background-color: none;
	padding: 24px 15px 0 15px;
}

.page-title {
	font-size: 28px;
	line-height: 1.25em;
	margin-bottom: 10px;
	line-height: 1.3em;
	color: #333333;
}

.page-descr {
	font-size: 14px;
    line-height: 1.6em;
	padding-bottom: 0.5em;
	color: #666666;

	@media (min-width: 767px) {
		padding-bottom: 0;
	}
}

/*
*   Buttons
*/

.btn {
    display: inline-block;
    padding: 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn-default {
	border-color: #CCCCCC;
	color: inherit;
}

.primary-button {
	margin: 0 auto;
	padding: 10px 12px;
	background-color: #3cb879;
	border-width: 1px;
	border-style: solid;
	border-color: #3CB879;
	width: 100%;
	text-align: center;
    font-size: inherit;
	font-weight: 600;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

.primary-button:hover, .primary-button:visited {
    background-color: #33A069;
    border: 1px solid #33A069;
    cursor: pointer;
}

.primary-button:focus {
    background-color: #33A069;
    border: 1px solid #33A069;
    outline: 3px auto lightgray;
    cursor: pointer;
}

.primary-button[disabled] {
    opacity: 0.5;
    background-color: #3cb879;
}

/* Button Types */

.add,
.remove {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-weight: 600;
	color: #fff;
	font-size: .75em;
	padding: 16px 12px;
	position: relative;
	top: -15px;
	border-style: solid;
	border-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	-o-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
	@media (min-width:1000px){
		top: 0;
	    -webkit-border-top-left-radius: 4px;
	    -moz-border-top-left-radius: 4px;
	    border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
	}
}

.remove {
	background-color: #a94442;
	border-color: #a94442;
	&:hover {
		background-color: #8E3A39;
		border-color: #8E3A39;
	}
}

.criteria .add {
    visibility: hidden;
}
.criteria:last-child .add {
    visibility: visible;
}

/*
*   Button Group
*/

.btn-group {
	width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-shadow: inset 1 1px 1px rgba(0,0,0,.2);
    box-shadow: inset 1 1px 1px rgba(0,0,0,.2);}

.btn-group>.btn {
	text-align: left;
	font-size: inherit;
	width: 85%;
	background-color: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
    position: relative;
    float: left;
}

.btn-group>.btn+.dropdown-toggle {
	width: 15%;
    padding-left: 8px;
    padding-right: 8px;
	background-color: #3cb879;
	border-width: 1px;
	border-style: solid;
	border-color: #3CB879;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;

}

.btn-group>.btn+.dropdown-toggle:hover {
	background-color: #33A069;
	border: 1px solid #33A069;
}

.btn-group>.btn+.dropdown-toggle>.caret {
	color: #FFF;
	border-top: 8px solid;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
}

.dropdown-toggle.btn-default {
	color: #666;
	background-color: #F5F5F5;
	border-color: #CCCCCC;
	box-shadow: none;
}

.open>.dropdown-toggle.btn-default {
	color: #666;
	background-color: #CBCBCB;
	border-color: #CCCCCC;
	box-shadow: none;
}

.btn-group.open .dropdown-toggle {
	box-shadow: none;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group>.dropdown-toggle:not(:first-child) {
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
	text-align: center;
	z-index: 0;
}

.btn-group>.dropdown-menu {
	width: 100%;
}

.btn-group>.dropdown-menu>li {
	margin: 0;
	padding: 0;
}

.btn-group>.dropdown-menu>li>a {
	margin: 0;
	padding: 10px 12px;
}

.btn-group>.dropdown-menu>li>.title {
	font-weight: 600;
	font-size: 16px;
}

.btn-group>.dropdown-menu>li>.response {
	font-weight: 300;
	font-size: 16px;
}

/*
*   Fieldset
*/

fieldset {
	padding: 10px 20px;
	margin: 0 0 30px;
	border: 1px solid #E2E2E2;
    min-width: 0;
}

fieldset > legend {
	font-size: 16px;
	font-weight: 600;
	padding: 6px 10px;
	margin: 0 0 5px -10px;
	color: #3cb879;
	border-bottom: none;
}

/*
*   Form Group
*/

.form-group {
	padding: 0;
	margin-bottom: 14px;
	height: auto;
	float: none;
}

@media (min-width: 768px) {
	.form-group {
		margin-bottom: 15px;
	}
}

.form-group .row {
	padding: 0 5px;
}

@media (min-width: 1px) and (max-width: 767px) {
	.form-group .row {
		padding: 0 15px;
	}
}

.form-group .row .form-group{
	margin-bottom: 0;
}

label {
    max-width: 100%;
    margin-bottom: 5px;

    .error {
        float: right;
    }
}
.error {
    color: darkred;
}

.control-label {
	text-align: left;
	padding-top: 6px;
	font-weight: 600;
	display: block;
	clear: left;
	clear: right;
}

.form-control {
	background-color: #F5F5F5;
	border-radius: 4px;
	border-color: #CCCCCC;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 1 1px 1px rgba(0,0,0,.2);
    box-shadow: inset 1 1px 1px rgba(0,0,0,.2);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-control:focus {
	border-color: #3cb879;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input.form-control {
    -webkit-box-shadow: inset 1 1px 1px rgba(0,0,0,.2);
    box-shadow: inset 1 1px 1px rgba(0,0,0,.2);
}

select.form-control {
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

/*
*   Radio Button
*/

.radio {
	display: inline-block;
	margin-top: 4px;
}

.radio > label {
	margin-right: 24px;
}

/*
*   Range
*/

input[type=range] {
	display: block;
	width: 100%;
	margin-top: 20px;
}

#application-header {
    width: 100%;
    height: 70px;
    background-color: #343538;
    -webkit-box-shadow: 4px 0px 6px rgba(200, 200, 200, 1);
    -moz-box-shadow: 4px 0px 6px rgba(200, 200, 200, 1);
    box-shadow: 4px 0px 6px rgba(200, 200, 200, 1)
}

#application-header .brand #logo {
    height: 100%;
}

#language-toggle {
    width: 100%;
    height: 64px;
    background: gray;
    position: fixed;
    bottom: 0px;
    transition: all 1s;
    -webkit-box-shadow: -4px 0px 6px rgba(200, 200, 200, 1);
    -moz-box-shadow: -4px 0px 6px rgba(200, 200, 200, 1);
    box-shadow: -4px 0px 6px rgba(200, 200, 200, 1);
}

#language-toggle.hidden {
    -webkit-transform: translateX(-50%) scale(0.1);
    transform: translateX(-50%) scale(0.1);
    opacity: 0;
    transition: all 1s;
}

#menu {
    background: #343538;
    list-style: none;
    padding: 0;
    font-size: inherit;
    margin: 0;
}

#menu a {
	color: white;

	&:hover {
		cursor: pointer;
	}
}

#menu li {
    color: #fff;
    display: block;
    padding: 12px 14px 14px;
    text-decoration: none;
    border-top: 1px solid #45474a;
}

#menu li:hover, #menu li:visited{
    background: #000;
    text-decoration: none;
    transition: color 0.25s linear 0s, background-color 0.25s ease-in-out 0s, border-color 0.25s ease-in-out 0s;
    border-bottom: none;
}

#menu li:focus {
    background: #000;
    text-decoration: none;
    transition: color 0.25s linear 0s, background-color 0.25s ease-in-out 0s, border-color 0.25s ease-in-out 0s;
    border-bottom: none;
    outline: 3px auto lightgray;
}

#menu li:last-child {
    border-bottom: none;
}

@media only screen and (orientation: landscape) {
    #application-header {
        width: 20%;
        height: 100%;
        max-width: 200px;
        display: inline-block;
        position: fixed;
        float: left;
        overflow: auto;
    }
    #application-header .brand {
        background: #fec325;
        padding: .25em .25em 0.1em;
        text-align: center
    }
    #application-header .brand #logo {
        background-image: url(../images/irc_logo.jpg);
        background-image: url(../images/irc_logo.svg);
        background-size: 100%;
        width: 120px;
        height: 150px;
        margin: 0 auto;
    }
    #page-container {
        display: inline-block;
        width: 80%;
        margin-left: 20%;
    }
    #menu-toggle {
        display: none;
    }
}

@media only screen and (orientation: portrait) {
    #application-header .brand {
        height: 100%;
    }
    #application-header .brand #logo {
        background-image: url(../images/irc_logo.jpg);
        background-image: url(../images/irc_logo.svg);
        background-size: 100%;
        width: 54px;
        height: 70px;
        margin: 0;
    }
    #menu {
        position: absolute;
        right: 0px;
        top: 68px;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.25s;
    }
    .menu-closed #menu {
        max-height: 0px;
        li {
            text-align: center;
        }
    }
    .menu-open #menu {
        max-height: 500px;
        li {
            text-align: center;
        }
    }
    #menu-toggle {
        position: absolute;
        right: 16px;
        top: 16px;
        padding: 8px 10px;
        background-color: inherit;
        color: white;
        border-color: white;
        font-size: .75em;
    }
}

@media only screen and (min-width: 1000px) {
	#page-container {
	    display: inline-block;
	    margin-left: 200px;
	}
}

/*
Login page
*/

.service-provider-map,
.feedback-tool,
.service-provider-registration {
	margin: .75em;
	padding: 16px 10px;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	width: auto;
	text-align: center;
	color: #666;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: top;
	-webkit-box-shadow: 0px 2px 6px rgba(200, 200, 200, 0.4);
	-moz-box-shadow: 0px 2px 6px rgba(200, 200, 200, 0.4);
	box-shadow: 0px 2px 6px rgba(200, 200, 200, 0.4);

	p {
		color: #666;
		font-size: 115%;
		margin-bottom: 0;
	}

	@media (min-width: 1000px) {

        margin-top: 33.0%;
    }
}


/*
Table
*/

table {
 	width: 97.25%;
	text-align: left;
	background-color: #fff;
	border-collapse: collapse;
	margin: 0 0 0 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	tr {
        border-right-width: 5px;
        border-right-style: solid;

		&:nth-child(even) {
	    	background-color: #e8e8e8;
	    	border-right-color: #e8e8e8;
		}
		&:nth-child(odd) {
	   		background-color: #fff;
	   		border-right-color: #fff;
		}
		&.approved {
			border-right-color: #3cb879;
		}
		&.denied {
			border-right-color: #E04733;
		}
	}
	th {
		background-color: #fdc82f !important;
		padding: 16px 24px 16px 8px !important;
		border-right: 1px dotted #EBAF00;
		border-bottom: none;
		font-size: 110%;
		font-weight: bold;
		&:last-child {
			border-right: 5px solid #fdc82f;
		}
	}

	td {
	    vertical-align: middle;
	    border-top: 0;
	    padding-top: 8px;
	    padding-right: 8px;
	    padding-bottom: 8px;
	    padding-left: 8px;
	}

    .vertical-header {
        display: none;
    }

	@media (min-width: 1px) and (max-width: 767px) {

		/* Force table to not be like tables anymore */
		table#service-status,
		thead,
		tbody,
		th,
		td,
		tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

		tr {
			border-top: 1px solid #c8c8c8;
			&.approved {
				border-right: 5px solid #3cb879
			}
			&.denied {
				border-right: 5px solid #E04733;
			}
			&:last-child {
				border-bottom: 1px solid #c8c8c8;
			}
		}

		td {
			border: none;
			position: relative;
			border-bottom: 1px solid #DDD;
            padding-left: 1em;
		}

		.vertical-td {
			position: absolute;
			top: 0;
			left: 0;
			padding: 8px;
			padding-left: 37%;
			padding-right: 10px;
			font-weight: bold;
			white-space: nowrap;
			border-left: 5px solid #fdc82f !important;
		}

    .vertical-header {
        display: inline-block;
    }


	}
}
