@import "./includes/article.less";
@import "../helpers/pagination.less";

.container .row {
  padding: 0;
}

.aldryn-newsblog {
  padding: 0 0 20px 0;

  // &:first-child {
  //   margin-top: -30px;
  // }

  // > h2 {
  //   padding: 0 0 1em 0;
  // }

  > h2,
  > .aldryn-newsblog-list > h2 {
  }

  img {
    max-width: 100%;
  }

}
