{% load menu_tags %}

<div class="navigation">
    <header>
        Navigation
    </header>
    <ul>
        {% show_menu 0 0 0 100 "cms/includes/menu.html" %}
    </ul>
</div>

<div class="contact">
    <header>
        Contact Us
    </header>
    <ul>
        <li>Sign in</li>
        <li>Support</li>
        <li>FAQs</li>
    </ul>
</div>

<div class="follow">
    <header>
        Follow Us
    </header>
    <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Email Us</li>
        <li>Add yourself on our mailing list</li>
    </ul>
</div>

<div class="search">
    <button>Search for services →</button>
    <span>
        Click button above to search for services nearby
    </span>
</div>

<div class="legal">
    <header>
        International Rescue Committee Information Portal
    </header>
    <ul>
        <li>Privacy</li>
        <li>Github</li>
        <li>Created by the International Rescue Committee</li>
    </ul>
</div>
