{% load menu_tags i18n staticfiles %}

<ul id="nav" class="side-nav fixed amber lighten-2 hide-on-med-and-down">
  <li class="logo">
    <a href="{% url 'pages-root' %}" class="{% block brand-class %}brand-logo{% endblock brand-class %}">
      <img src="{% static 'images/logo-large.png' %}">
    </a>
  </li>

  {% for child in children %}
    {% if child.children %}
      <li class="no-padding {% if child.selected %}active{% endif %}">
        {% show_menu from_level to_level extra_inactive extra_active "cms/includes/sub_menu.html" "" "" child %}
      </li>
    {% else %}
      <li class="{% if child.selected %}active{% endif %}">
        <a href="{{ child.get_absolute_url }}">
          {% if child.get_menu_title == "Blog" %}
            <i class="material-icons left">description</i>
          {% elif child.get_menu_title == "Home" %}
            <i class="material-icons left">home</i>
          {% elif child.get_menu_title == "FAQ" %}
            <i class="material-icons left">question_answer</i>
          {% endif %}

          {{ child.get_menu_title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  <li>
    <a class="modal-trigger" href="#language-picker">Choose Language</a>
  </li>
</ul>
